@import "tailwindcss";

@layer utilities {
	.center-flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.fade-out {
	opacity: 0;
	transition: opacity 0.3s;
}
.fade-in {
	opacity: 1;
	transition: opacity 0.3s;
}
